<div class="row">
  <h2>Parfümliste</h2>
</div>

<div>
  <a class="btn btn-success" href="#" routerLink="/perfume/create/">Neues Parfüm erstellen</a>
</div>

<br>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th> ID</th>
    <th> Name</th>
    <th> Herstellungsjahr</th>
    <th> Hersteller</th>
    <th> Größe</th>
    <th> Basisnote</th>
    <th> Herznote</th>
    <th> Kopfnote</th>
    <th> Collection</th>
    <th> Operationen</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let perfume of perfumes">
    <td> {{ perfume.id }} </td>
    <td> {{ perfume.name }} </td>
    <td> {{ perfume.yearOfManufacture }} </td>
    <td> {{ perfume.manufacturer.name }} ({{ perfume.manufacturer.id }})</td>
    <td> {{ perfume.sizeInMilliliter }}ml</td>
    <td> {{ perfume.basicNote.name }} ({{ perfume.basicNote.id }})</td>
    <td> {{ perfume.heartNote.name }} ({{ perfume.heartNote.id }})</td>
    <td> {{ perfume.headNote.name }} ({{ perfume.headNote.id }})</td>
    <td *ngIf="perfume.collectionName != null"> {{ perfume.collectionName }} </td>
    <td *ngIf="perfume.collectionName == null"><a [routerLink]="['/collection/',perfume.id,'add']" class="btn btn-primary"
                                                  href="#">Zu einer Kollektion<br> hinzufügen</a></td>
    <td>
      <a [routerLink]="['/wishlist/',perfume.id,'add']" class="btn btn-primary" href="#">Zur Wunschliste</a> <br> <br>
    </td>
  </tr>
  </tbody>
</table>
